<!DOCTYPE html>
<html>
  <head>
    <title>Home | FTP Server</title>

    <link rel="stylesheet" type="text/css" href="/assets/home/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/home/dropdown.css" />
  </head>
  <body>
    <form name="homeHome">
      <ul>
        <li><a href="/">Home</a></li>
        <li style="float: left">
          <div class="dropdown">
            <div class="dropbtn">Content</div>
            <div class="dropdown-content">
              <a href="/home/viewContent">View Content</a>
              <a href="/home/uploadContent">Upload Content</a>
              <a href="/home/deleteContent">Delete Content</a>
            </div>
          </div>
        </li>
      </ul>

      <div class="container-login100">
        <h1>Welcome</h1>
      </div>
    </form>
  </body>
</html>
